<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188994005130-f2nsrhcim19llsdigselc9prlp0r3c7f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188994005130-f2nsrhcim19llsdigselc9prlp0r3c7f</string>
	<key>API_KEY</key>
	<string>AIzaSyDfe7GNg8qTYwHSdLo63X3ovzSiw36V6ng</string>
	<key>GCM_SENDER_ID</key>
	<string>188994005130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.heyGrupos</string>
	<key>PROJECT_ID</key>
	<string>heychat-f0f8f</string>
	<key>STORAGE_BUCKET</key>
	<string>heychat-f0f8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188994005130:ios:df25011fdba232fe882573</string>
</dict>
</plist>